{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit {{ object.name }}'s info</h1>
{% else %}
    <h1>Add an Event</h1>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% if object %} Edit {% else %} Add Event {% endif %}" class="btn red">
    {% if object %}
        <a class="btn" href="{% url 'detail' object.id">Cancel</a>
    {% else %}
        <a class="btn"  href="{% url 'home' %}">Cancel</a>
    {% endif %}
</form>

{% endblock %}
